<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="footer">
    <section class="bg-dark">
        <div class="container text-white text-center py-5">
            <div class="lead mb-2">JOIN OUR BOOK STORE FOR DEALS AND UPDATES AND OFFERS</div>
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <form action="#" class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="You Email">
                            <input-group-append>
                                <button class="btn btn-primary">Join Now</button>
                            </input-group-append>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="p-3 bg-secondary">
        <ul class="nav text-center justify-content-center flex-column flex-sm-row">
            <li class="nav-item">
                <a href="#" class="nav-link text-white">FAQ</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">ENJOY</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  text-white">EXPLORE</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">CONTACT</a>
            </li>
        </ul>
    </section>
</footer>
</body>
</html>