<!DOCTYPE html>
<html th:replace="~{layout/userLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>


<main role="main">

    <div class="container my-5 p-5">
    <form method="post" th:action="@{/user/checkout}" th:object="${registerUser}">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{username}" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control">
        </div>

        <select class="custom-select mb-3" th:field="*{hobby}">
            <option th:each="ho : ${hobby}"  th:value="${ho}" th:text="${ho}"></option>
        </select>

        <select class="custom-select" th:field="*{genderName}">
            <option th:each="gen : ${gender}" th:value="${gen}" th:text="${gen}"></option>
        </select>

        <div class="form-group">
            <label for="streetName">Street Name</label>
            <input type="text" id="streetName" th:field="*{streetName}" class="form-control">
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control">
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" th:onchange="'getRadioValue(this)'" class="form-check-input" name="myradio" id="inlineradio1" value="1" th:field="*{option}">
            <label for="inlineradio1" class="form-check-label">One</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" th:onchange="'getRadioValue(this)'" class="form-check-input" name="myradio" id="inlineradio2" value="2" th:field="*{option}">
            <label for="inlineradio2" class="form-check-label">Two</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" th:onchange="'getRadioValue(this)'" class="form-check-input" name="myradio" id="inlineradio3" value="3" th:field="*{option}">
            <label for="inlineradio3" class="form-check-label">Three</label>
        </div>

        <!--Dynamic Radio Check -->


        <select class="custom-select my-5">
            <option th:each="myop : ${myList}" th:text="${myop}" th:value="${myop}"></option>
        </select>


        <input type="submit" value="Submit" class="btn btn-primary">

    </form>

    </div>


    <script>

        function  getRadioValue(val){
           let radVal = val.value;
            $.ajax(
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type:'POST',
                    url:'http://localhost:8080/book/ajax',
                    data:JSON.stringify(radVal),
                    error:function (e){
                        console.log(e);
                    },
                    dataType:'application/json',
                    crossDomain: false,
                    async:true,
                    complete: function (response){
                        console.log("Hello .....................")
                        console.log(response);
                        window.location.reload();
                    }
                }
            );
            return false;
        }




    </script>
</main>


</body>
</html>